:root {
  --bar-width: 40px;
  --bar-height: 2px;
  --gap: 8px;
  --foreground: "#000";
  --background: "#fff";
  --animation-timing: 300ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: max-content;
  position: absolute;
  top: 36%;
  right: 8%;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: #fff;
  z-index: 99;
  border-radius: 9999px;
  transform-origin: left center;
  transition:
    opacity var(--animation-timing),
    width var(--animation-timing),
    rotate var(--animation-timing),
    background-color var(--animation-timing),
    translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);

  position: absolute;
  z-index: 99;
  transition: translate 300ms ease-in-out;
  translate: -120%;

  width: 70vw;
  min-height: 100vh;
  padding: 5%;
  padding-top: 10%;
  box-shadow: 5px 50px 60px 20px rgba(0, 0, 0, 0.25);

  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(88.6px);
  border-right: 1px #7676767c solid;
}

.sidebar-active {
  transition: all 300ms ease-in-out;
  translate: 0%;
}
